
@*<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<header>
    <div id="itemsNavbar">

        <a asp-controller="PCs" asp-action="Index">Kompjutere</a>
        <a asp-controller="Laptops" asp-action="Index">Laptops</a>
        
        <a asp-controller="Monitors" asp-action="Index">Monitors</a>
        <div class="dropdown">
            <button class="dropbtn">
                Accessories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a asp-controller="Mouses" asp-action="Index">Mouses</a>
                <a asp-controller="MousePads" asp-action="Index">MousePads</a>
                <a asp-controller="Keyboards" asp-action="Index">Keyboards</a>
                <a asp-controller="Headphones" asp-action="Index">Headphones</a>
            </div>
        </div>

        <div class="dropdown2">
            <button class="dropbtn">
                Hardware Components
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content2">
                <a asp-controller="GraphicCards" asp-action="Index">GraphicCards</a>
                <a asp-controller="CPUs" asp-action="Index">CPUs</a>
            </div>
        </div>
    </div>
</header>
<body>
    <div id="advertisement">

    </div>
    
    

</body>
</html>*@

