<div class="row">
    <div class="col-md-6 offset-3 alrt alert-success text-center">
        <h2>Order completed successfuly</h2>
        <p>Check you orders on your profile</p>
        <hr />
        <p>Thank you</p>
    </div>
</div>